<div class="footer">
  <h2>Questions? Discounts?</h2>
  <p>No-Hold Time. Exclusive Phone Deals. Call us now!</p>
  <div class="tel">
    <img src="./images/telephone.png" alt="" />
    <a href="tel:+976563066380">+976 56 306 63 80</a>
  </div>

</div>

<div class="final_screen flex">

  <div class="left_part">

    <p>Drive the car you want! Delta Rentals Dubai
      <br />
      provides a reliable rental service.</p>
    <div class="pic_svg">
    </div>
  </div>
  <div class="center">
    <h4>Menus</h4>
    <ul>
      <li><a href="../main.html">Home</a></li>
      <li><a href="../about.html">About</a></li>
      <li><a href="../cars.html">Cars</a></li>
      <li><a href="../contact.html">Testimonials</a></li>
    </ul>
  </div>
  <div class="contact-section">
    <h4>Contact</h4>
    <div class="contact-item">

      <a href="mailto:info@deltarentalsdubai.com">info@deltarentalsdubai.com</a>
    </div>
    <div class="contact-item">

      <a href="tel:+971563066380">+971 56 306 63 80</a>
    </div>
    <div class="contact-item">

      <span>Unit 13-14 Princess Cars Bld SZR Dubai</span>
    </div>
  </div>
</div>
<div class="widget">
  <h2>Copyright © 2024. All Rights Reserved.</h2>
</div>