<header class="header">
  <div class="header_img">
    <img
      class="prime_car_img"
      src="./images/Prime Car.png"
      alt="prime car"
    />
  </div>
  </div>
  <nav class="nav">
    <div class="nav-items">
      <a href="../main.html" class="nav-item" active-color="orange">Home</a>
      <a href="../about.html" class="nav-item" active-color="green">About</a>
      <a href="../cars.html" class="nav-item" active-color="red">Cars</a>
      <a class="nav-item" href="../contact.html">Testimonials</a>
      <span class="nav-indicator"></span>
    </div>
    <div class="auth-box">
      <a id="login-button" class="nav-login" href="">Login</a>
      <a id="logout-button" class="logout-button" href="">Out</a>
      <img id="user_icon" src="" alt="user photo" />
    </div>
    
  
  </nav>
  


<div class="wrapper2">
  <nav class="nav2">
    <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox">
    <label class="m-menu__toggle" for="menu">
      <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </label>
    <label class="m-menu__overlay" for="menu"></label>
  
    <div class="m-menu">
      <div class="m-menu__header">
        <label class="m-menu__toggle" for="menu">
          <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </label>
        <span>MENU</span>
      </div>
      <ul>
        <li><label><a href="../main.html">Home</a></label></li>
        <li><label><a href="../about.html">About</a></label></li>
        <li><label><a href="../cars.html">Cars</a></label></li>
        <li><label><a href="../contact.html">Testimonials</a></label></li>
        
      </ul>  
    </div>
  </nav>
</div>
</header>